#chart{
    overflow-y:auto;
    max-width: 70%;
    margin: auto;
    margin-left: 12px;
    margin-top: 32px;
}

body {
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
}

p { 
    /* margin-bottom: 32px; */
    max-width: 585px;
    font-family: 'Lato', sans-serif;
    font-size: 14.8px;
    color: black;
    margin-left: 27px;
    margin-right: 102px;
}

h1,
h2,
h3 {
    padding: 2px;
    /* font-family: 'Times New Roman', Times, serif;
    font-size: 26px; */
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin-top: 0px;
    text-align: left;
    margin-left: 20px;
  }

.container {
    max-width: 720px;
    margin: auto;
    align-items: left;
  }

.fuente {
    max-width: 100%;
    margin-left: 12px;
}

p#font {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
}