h1#title {
  font-family: 'DM Serif Display', serif;
  font-size: 37px;
  margin: 22px;
}
.lab {
  font-family: 'DM Serif Text', serif;
}
iframe {
  display: block;
  min-width: 100%; 
  border: none;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.table td, .table th {
  padding: .06rem .04rem;
}
.col-12 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}
